<div class="col-lg-6" *ngIf="identity">
  <h1>{{titulo}}</h1>
  <!--FORMULARIO-->
  <div class="col-lg-6">
    <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>
    <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
      <p>
        <label>Name</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required/>
        <span *ngIf="!name.valid && name.touched">
          Name is mandatory
        </span>
      </p>
      <p>
        <label>Surname</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required/>
        <span *ngIf="!surname.valid && surname.touched">
          Surname is mandatory
        </span>
      </p>
      <p>
        <label>Email</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required/>
        <span *ngIf="!email.valid && email.touched">
          Email is mandatory
        </span>
      </p>

      <div class="edit_image" *ngIf="user.image && user.image != 'null'">
        <img src="{{url + 'get-image-user/' +user.image}}" style="width: 50px;" />
      </div>

      <p>
        <label>Upload your image</label>
        <input type="file" placeholder="Select file..." (change)="fileChangeEvent($event)"/>
      </p>
      <input type="submit" value="Update" class="btn btn-primary" />
    </form>
  </div>
</div>
